.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
.header {
  width: 100%;
  height: 100px;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.main {
  width: 100%;
  height: 400px;
  background: url("../img/open2.jpg") center/cover no-repeat;
  margin-bottom: 10px;
}
h1 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: red;
  margin-bottom: 16px;
}

.tarify {
  margin: 5px 20px 15px 20px;
}

.tarif-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tarif-item h2 {
  font-size: 30px;
  color: #710cdf;
}
.button {
  font-size: 22px;
  border: 1px solid red;
  background-color: #00ff32c7;
  color: aliceblue;
  border-radius: 40px;
  padding: 10px 10px 10px 10px;
  overflow: hidden;
}
hr {
  size: 5px;
  width: 50px;
  color: #710cdf;
}
.info-block {
  margin-top: 30px;
}
.block {
  width: 85%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 1px solid black;
  margin-bottom: 15px;
  font-size: 23px;
  font-weight: bold;
  padding: 5px;
  color: #710cdf;
}
.footer {
  width: 100%;
  height: 60px;
  background-color: #9b9b9b;
}
.container {
  max-width: 80%;
  display: flex;
  align-items: center;
}
